:root {
    --body-background-color: #28222c;
    --gamefield-color: rgb(77, 61, 88);
    --section-color: rgb(98, 76, 112);
    --button-color: rgb(205, 171, 232);
    --button-active: rgb(136, 96, 168);
    --header-color: rgb(176, 130, 214);
    --color-win-lose: #ffdd93;

    --background-color-num2: #ffdd93;
    --background-color-num4: #ffad4f;
    --background-color-num8: #ec6639;
    --background-color-num16: #c22c47;
    --background-color-num32: #ad29c2;
    --background-color-num64: #6d32bb;
    --background-color-num128: #4542ce;
    --background-color-num256: #1f57a1;
    --background-color-num512: #1d7b97;
    --background-color-num1024: #169282;
    --background-color-num2048: #17ac53;
}

body {
    background-color: var(--body-background-color);
}

h1 {
    color: var(--color-win-lose);
}

p {
    color: var(--header-color);
}

.gamefield {
    background-color: var(--gamefield-color);
}

.section {
    background-color: var(--section-color);
    color: var(--body-background-color);
}

.styledButton {
    border: 0;
    background-color: var(--header-color);
}

.styledButtonTheme {
    border: 2px solid var(--header-color);
    background-color: var(--body-background-color);
}

.styledButton:active {
    background-color: var(--button-active);
}

.styledButtonTheme:active {
    background-color: var(--gamefield-color);
}

.iconTheme {
    color: var(--header-color);
}
.iconControl{
    color: var(--body-background-color);
}

.num2 {
    background-color: var(--background-color-num2);
}
.num4 {
    background-color: var(--background-color-num4);
}
.num8 {
    background-color: var(--background-color-num8);
}
.num16 {
    background-color: var(--background-color-num16);
}
.num32 {
    background-color: var(--background-color-num32);
}
.num64 {
    background-color: var(--background-color-num64);
}
.num128 {
    background-color: var(--background-color-num128);
}
.num256 {
    background-color: var(--background-color-num256);
}
.num512 {
    background-color: var(--background-color-num512);
}
.num1024 {
    background-color: var(--background-color-num1024);
}
.num2048 {
    background-color: var(--background-color-num2048);
}