:root {
    --gamefield-color: rgb(222, 199, 241);
    --section-color: rgb(238, 221, 252);
    --main-text-color: rgb(58, 34, 80);
    --button-active: rgb(189, 147, 223);
    --header-color: rgb(176, 130, 214);
    --color-win-lose: #ffbe33;

    --background-color-num2: #ffefcd;
    --background-color-num4: #ffca8e;
    --background-color-num8: #ee997d;
    --background-color-num16: #e27287;
    --background-color-num32: #cc7fd8;
    --background-color-num64: #a169e9;
    --background-color-num128: #6664da;
    --background-color-num256: #5086cc;
    --background-color-num512: #50afcc;
    --background-color-num1024: #5ad8c7;
    --background-color-num2048: #77e7a4;
}

h1 {
    color: var(--color-win-lose);
}

p {
    color: var(--header-color);
}

.gamefield {
    background-color: var(--gamefield-color);
}

.section {
    background-color: var(--section-color);
    color: var(--main-text-color);
}

.styledButton {
    border: 0;
    background-color: var(--header-color);
}

.styledButtonTheme {
    border: 2px solid var(--header-color);
    background-color: white;
}

.styledButton:active {
    background-color: var(--button-active);
}

.styledButtonTheme:active {
    background-color: var(--gamefield-color);
}

.iconTheme {
    color: var(--header-color);
}
.iconControl{
    color: white;
}

.num2 {
    background-color: var(--background-color-num2);
}
.num4 {
    background-color: var(--background-color-num4);
}
.num8 {
    background-color: var(--background-color-num8);
}
.num16 {
    background-color: var(--background-color-num16);
}
.num32 {
    background-color: var(--background-color-num32);
}
.num64 {
    background-color: var(--background-color-num64);
}
.num128 {
    background-color: var(--background-color-num128);
}
.num256 {
    background-color: var(--background-color-num256);
}
.num512 {
    background-color: var(--background-color-num512);
}
.num1024 {
    background-color: var(--background-color-num1024);
}
.num2048 {
    background-color: var(--background-color-num2048);
}