:root {
    --gamefield-color: rgb(243, 228, 255);
    --section-color: rgb(246, 237, 253);
    --main-text-color: rgb(58, 34, 80);

    --background-color-num2: #ffefcd;
    --background-color-num4: #ffca8e;
    --background-color-num8: #ee997d;
    --background-color-num16: #e27287;
    --background-color-num32: #cc7fd8;
    --background-color-num64: #a169e9;
    --background-color-num128: #6664da;
    --background-color-num256: #5086cc;
    --background-color-num512: #50afcc;
    --background-color-num1024: #5ad8c7;
    --background-color-num2048: #77e7a4;
}

* {
    color:var(--main-text-color);
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Noto Sans, sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 50px;
    margin: 0 0 10px 0;
    color:rgb(176, 130, 214)
}

.gamefield {
    width: 450px;
    height: 450px;
    padding: 10px;

    border-radius: 15px;
    background-color: var(--gamefield-color);

    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.section {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    font-weight: bold;

    border-radius: 10px;
    background-color: var(--section-color);
}

.num2 {
    background-color: var(--background-color-num2);
}
.num4 {
    background-color: var(--background-color-num4);
}
.num8 {
    background-color: var(--background-color-num8);
}
.num16 {
    background-color: var(--background-color-num16);
}
.num32 {
    background-color: var(--background-color-num32);
}
.num64 {
    background-color: var(--background-color-num64);
}
.num128 {
    background-color: var(--background-color-num128);
}
.num256 {
    background-color: var(--background-color-num256);
}
.num512 {
    background-color: var(--background-color-num512);
}
.num1024 {
    background-color: var(--background-color-num1024);
}
.num2048 {
    background-color: var(--background-color-num2048);
}

#s1 { grid-area: 1 / 1 / 2 / 2; }
#s2 { grid-area: 1 / 2 / 2 / 3; }
#s3 { grid-area: 1 / 3 / 2 / 4; }
#s4 { grid-area: 1 / 4 / 2 / 5; }
#s5 { grid-area: 2 / 1 / 3 / 2; }
#s6 { grid-area: 2 / 2 / 3 / 3; }
#s7 { grid-area: 2 / 3 / 3 / 4; }
#s8 { grid-area: 2 / 4 / 3 / 5; }
#s9 { grid-area: 3 / 1 / 4 / 2; }
#s10 { grid-area: 3 / 2 / 4 / 3; }
#s11 { grid-area: 3 / 3 / 4 / 4; }
#s12 { grid-area: 3 / 4 / 4 / 5; }
#s13 { grid-area: 4 / 1 / 5 / 2; }
#s14 { grid-area: 4 / 2 / 5 / 3; }
#s15 { grid-area: 4 / 3 / 5 / 4; }
#s16 { grid-area: 4 / 4 / 5 / 5; } 